<ion-header>
  <ion-toolbar color="primary">
    <ion-title>addProfile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="row">
    Name: <ion-input [(ngModel)]="info.name" name="name"></ion-input><br>
    Age: <ion-input [(ngModel)]="info.age" name="age"></ion-input><br>
    Gender: <ion-input [(ngModel)]="info.gender" name="gender"></ion-input><br>
    Habit: <ion-input [(ngModel)]="info.habit" name="habit"></ion-input>
  </div>
  <ion-button (click)="submitProfile()">Submit</ion-button>
  <ion-button (click)="logout()">Logout</ion-button>

</ion-content>
