<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="infos?.length > 0 else noinfos">
    <h1>Your information</h1>
    <ul *ngFor = "let info of infos">
      <div class="row">
          Name: <ion-input [(ngModel)]="info.name" [(ngModel)]="inf.name" name="name"></ion-input><br>
          Age: <ion-input [(ngModel)]="info.age" [(ngModel)]="inf.age" name="age"></ion-input><br>
          Gender: <ion-input [(ngModel)]="info.gender" [(ngModel)]="inf.gender" name="gender"></ion-input><br>
          Habit: <ion-input [(ngModel)]="info.habit" [(ngModel)]="inf.habit" name="habit"></ion-input>
      </div>
    </ul>
  </div>

  
    
    
    
    <ng-template #noinfos>
      <h5>Waiting...</h5>
    </ng-template>
    <ion-button (click)="update()">Update</ion-button>  
    <ion-button (click)="BacktoHome()">Back</ion-button>
    <ion-button (click)="logout()">Logout</ion-button>

</ion-content>
